.comment {
	width: 100%;
	overflow: hidden;

	&:hover {
		.comment__nav {
			visibility: visible;
		}
	}

	&__form {
		margin-top: 22px;
		button.edit {
			margin: 12px 12px 0 0;
			background-color: var(--yellow);
			&:hover {
				background-color: var(--yellow-dark);
			}
		}

		button.cancel {
			margin-top: 12px;
		}
	}

	&__user {
		margin-bottom: 8px;
		display: flex;
		align-items: center;
		font-weight: 700;

		&_info {
			display: flex;
			flex-direction: column;

			a {
				display: flex;
				gap: 6px;
				align-items: center;
				cursor: pointer;

				&:hover {
					color: var(--blue);
				}
			}
		}
	}

	&__text {
		word-wrap: break-word;
	}

	&__nav {
		margin-left: 40px;
		visibility: hidden;
		display: flex;
		align-items: center;
		gap: 12px;
		font-style: italic;
		opacity: 0.8;

		&_edit,
		&_delete {
			max-height: 30px;
		}

		&_edit {
			background-color: var(--yellow) !important;
		}

		&_delete {
			background-color: var(--red) !important;
		}
	}
}

@media screen and (max-width: 900px) {
	.comment {
		margin-bottom: 12px;

		&__nav {
			visibility: visible;
			margin-left: 0;
			flex-grow: 1;
			justify-content: flex-end;
		}
	}
}
