@import 'material-icons/iconfont/material-icons.css';

:root {
	--blue: #4361ee;
	--blue-dark: #3254eb;
	--yellow: #eab308;
	--yellow-dark: #d19e06;
	--red: #d32f2f;
	--white: #ffffff;
	--gray-light: #dedede;
	--black: #000000;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f5f5f5 !important;
	overflow: overlay;
}

a {
	color: inherit;
	text-decoration: inherit;
}

::-webkit-scrollbar {
	width: 7px;
	height: 100%;
	z-index: -1;
}

::-webkit-scrollbar-track {
	margin-top: 75px;
}

::-webkit-scrollbar-thumb {
	background: var(--blue);
	border-radius: 5px;
	outline: 1px solid slategrey;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--blue-dark);
}
