.root {
	margin-bottom: 20px;
}

.title {
	padding: 15px 15px 0 15px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	span {
		display: none;
	}
}

@media screen and (max-width: 900px) {
	.title {
		span {
			display: block;
		}
	}

	.title.fullPost {
		span {
			display: none;
		}
	}
}
