.tag {
	margin-bottom: 12px;
	font-weight: 700;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1;

	&__name {
		text-decoration: underline;
	}

	&__delete {
		font-size: 20px;
		cursor: pointer;
		transition: all 0.25s ease-in-out;

		&:hover {
			color: var(--red);
			transform: rotate(180deg);
		}
	}
}

@media screen and (max-width: 525px) {
	.tag {
		margin-left: 0px;
	}
}
