.root {
	width: 400px;
	padding: 50px;
	border: 1px solid #dedede;
	margin: 50px auto;
}

.field {
	margin-bottom: 20px !important;
}

.title {
	text-align: center !important;
	font-weight: bold !important;
	margin-bottom: 12px !important;
}

.avatar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;

	img {
		width: 100px;
		height: 100px;
		object-fit: contain;
		border-radius: 50%;
	}
}
