.tag {
	margin-left: 20px;
	padding: 12px 16px;
	font-weight: 700;

	&__name {
		text-decoration: underline;
	}

	&__delete {
		margin-left: 4px;
		cursor: pointer;

		&:hover {
			color: red;
		}
	}
}
