.root {
	background-color: var(--white);
	border: 1px solid var(--gray-light);
	border-radius: 6px;
	overflow: hidden;
	margin-bottom: 15px;
	position: relative;

	&:hover {
		border: 1px solid var(--blue);
		box-shadow: 0 0 0 1px var(--blue);

		.editButtons {
			opacity: 1;
		}
	}

	&Full {
		&:hover {
			background-color: var(--white);
			border: 1px solid var(--gray-light);
			box-shadow: none;
		}
	}
}

.image {
	width: 100%;
	height: 425px;
	object-fit: cover;
	object-position: top;
	cursor: pointer;

	&Full {
		margin-top: 24px;
		height: auto;
		max-height: 700px;
		object-fit: contain;
		cursor: auto;
	}
}

.wrapper {
	padding: 10px 20px 20px;
}

.content {
	margin-top: 12px;

	p {
		font-size: 22px;
	}
}

.indention {
	margin-top: 8px;
	word-break: break-all;
}

.title {
	font-size: 28px;
	margin: 0;
	word-break: break-word;

	a {
		text-decoration: none;
		color: var(--black);

		&:hover {
			color: var(--blue);
		}
	}

	&Full {
		font-size: 42px;
		font-weight: 900;
	}
}

.tags {
	list-style: none;
	padding: 0;
	margin: 5px 0 0 0;

	li {
		display: inline-block;
		font-size: 14px;
		margin-right: 15px;
		opacity: 0.5;
		cursor: pointer;

		&:hover {
			opacity: 1;
		}

		a {
			text-decoration: none;
			color: var(--black);
		}
	}
}

.postDetails {
	margin-top: 12px;
	list-style: none;
	padding: 0;

	li {
		display: inline-flex;
		align-items: center;
		font-size: 14px;
		margin-right: 20px;
		opacity: 0.5;

		svg {
			font-size: 18px;
			margin-right: 5px;
		}
	}
}

.skeleton {
	background-color: var(--white);
	border: 1px solid var(--gray-light);
	border-radius: 6px;
	overflow: hidden;
	margin-bottom: 15px;

	&Content {
		padding: 20px;
	}

	&Info {
		margin-left: 50px;
	}
}

.skeletonUser {
	display: flex;

	&Details {
		display: flex;
		flex-direction: column;
	}
}

.skeletonTags {
	display: flex;

	span {
		margin-right: 15px;
	}
}

.editButtons {
	position: absolute;
	right: 15px;
	top: 15px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 10px;
	opacity: 0;
	transition: all 0.15s ease-in-out;
}

@media screen and (max-width: 575px) {
	.title {
		font-size: 25px;
	}
}
