.root {
	background-color: #fff;
	padding: 10px 0;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 30px;
}

.inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	background-color: black;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.15px;
	border-radius: 5px;
	padding: 6px 16px;
	text-decoration: none;

	&:hover {
		background-color: #4361ee;
	}
}

.buttons {
	display: flex;
	align-items: center;
	gap: 10px;
	a {
		text-decoration: none;
	}
}

.user {
	display: flex;
	align-items: center;
	gap: 10px;
	&__avatar {
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}
}
