@media screen and (max-width: 900px) {
	.comment {
		height: 0px;
		overflow: hidden;
		transition: height 0.35s ease-out;

		&.open {
			height: 320px;
		}

		&.fullPost {
			height: max-content;
		}
	}
}
